/* RolesBackground */
/* from BetterDiscord: https://discord.com/channels/86004744966914048/836694789898109009/1168944142601158666 */
/* by Carrot */

.role__631a3 {
  transform: translate(0);
  overflow: hidden;
  border: 0;

  --transparency: .4; /*Change Background Opacity*/
  border-radius: 5px; /*Change Roundness of Roles*/
}
.role__631a3 .roleRemoveIcon__7f63d {
  margin: 0;
  left: unset;
  transform: translate(50%,-50%);
}
.role__631a3 .roleRemoveButton__737f2 {
  position: static;
}
.role__631a3 .roleCircle_bae511:after {
  content: '';
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  background: inherit;
  opacity: var(--transparency);
}