/* RolesBackground */
/* from BetterDiscord: https://discord.com/channels/86004744966914048/836694789898109009/1168944142601158666 */
/* by Carrot */

.role_d81130 {
  transform: translate(0);
  overflow: hidden;
  border: 0;

  --transparency: .4; /*Change Background Opacity*/
  border-radius: 5px; /*Change Roundness of Roles*/
}
.role_d81130 .roleRemoveIcon_c3913a {
  margin: 0;
  left: unset;
  transform: translate(50%,-50%);
}
.role_d81130 .roleRemoveButton__20c70 {
  position: static;
}
.role_d81130 .roleCircle__61ad8:after {
  content: '';
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  background: inherit;
  opacity: var(--transparency);
}