/* block quotes */
/* created by Elf, idea taken from Couve */

[class*="messageContent"] > [class^="blockquoteContainer"] {
  padding: 8px;
  background: var(--background-secondary);
  border-radius: 4px;
  width: 100%;
}
[class*="messageContent"] > [class^="blockquoteContainer"] > [class^="blockquoteDivider"] { display: none; }
