/* random misc css that hides things I don't like */

/* hides icons in upper container */
[class^="toolbar"] [aria-label="Threads"],
[class^="toolbar"] [class*=anchor] [aria-label="Help"],
[class^="toolbar"] [aria-label="Start Video Call"],
[class^="toolbar"] [aria-label="Notification Settings"] {
  display: none;
}

/* removes all section dividers ever */
[class^=sectionDivider] { display: none; }
/* recolors message dividers except unreads */
[class^=divider][class*=hasContent]:not([class*=isUnread]) { border-top: thin solid var(--background-tertiary); }

/* No, I don't want to make a thread from a chain of more than 2 replies */
[class^="threadSuggestionBar_"] { display: none; }

/* no more sticker picker */
#sticker-picker-tab { display: none; }

/* no more scroll bar in profiles */
.scroller-15bIdk.thin-RnSY0a.scrollerBase-1Pkza4::-webkit-scrollbar {
    display: none;
}

/* shh Discord I know how to use the quick switcher */
:root [class^="protip"] { display: none; }

:root [class^="quickswitcher"] { padding: 20px; }

/* hide border of user lower left modal */
#vc-spotify-player { border-bottom: 1px solid transparent !important; }

button[aria-label="Send a gift"],
button[aria-label="Open GIF picker"],
button[aria-label="Open sticker picker"],
[href="/store"] {
    display: none;
}

/* watermark */
[class^="wordmark"] svg { display: none; }

::-webkit-resizer { display: none; }
  