/* Make pronouns stand out more */
.pronouns__8aa38 {
  text-transform: lowercase;
  color: var(--text-normal);
  background: linear-gradient(var(--profile-gradient-primary-color),var(--profile-gradient-primary-color) 60px,var(--profile-gradient-secondary-color)) !important;
  padding: 2px 4px;
  border-radius: 5px;
}

/* add back @ in front of usernames */
:is([class^="userTagUsernameBase"],
  [class*="username"][class*="discriminator"],
  [class*="nameTag"] [class*="subtext"]:has([class*="hoverRoll"]) [class*="hovered"],
  [class*="nameTag"] [class*="subtext"]:not(:has([class*="hoverRoll"])))::before {
  content: "@";
}

/* set profile divider to same color as profile */
.divider_d6f39c {
  opacity: 0.4;
  background-color: var(--profile-gradient-primary-color);
}