@import url('https://d3sox.github.io/complementary-discord-theme/hide-nitro-upselling.theme.css');
@import url('https://raw.githubusercontent.com/Redundakitties/quickCSS-snippets/main/snippets/bgRoleColor.css');
@import url('https://raw.githubusercontent.com/Redundakitties/quickCSS-snippets/main/snippets/blockQuotes.css');
@import url('https://raw.githubusercontent.com/Redundakitties/quickCSS-snippets/main/snippets/borderchange.css');
@import url('https://raw.githubusercontent.com/Redundakitties/quickCSS-snippets/main/snippets/goawaypls.css');
@import url('https://raw.githubusercontent.com/Redundakitties/quickCSS-snippets/main/snippets/micsettingsdrawer.css');
@import url('https://raw.githubusercontent.com/Redundakitties/quickCSS-snippets/main/snippets/onekoabovemsgbar.css');
@import url('https://raw.githubusercontent.com/Redundakitties/quickCSS-snippets/main/snippets/profiletweaks.css');
@import url('https://raw.githubusercontent.com/Redundakitties/quickCSS-snippets/main/snippets/quickSwitcher.css');
@import url('https://raw.githubusercontent.com/Redundakitties/quickCSS-snippets/main/snippets/smugBoi.css');

/* macchiato */
@import url("https://catppuccin.github.io/discord/dist/catppuccin-macchiato.theme.css");

/* shrink sidebar */
[class^="sidebar"] { width: 165px !important; }

[class*=messageContent] :is(h1, h2, h3) {
  color: #8aadf4;
}
[class*=messageContent] strong {
    color: #8aadf4;
}

/* home icon */
.wrapper_d281dd[data-list-item-id="guildsnav___home"] .childWrapper__01b9c {
    background: url('https://raw.githubusercontent.com/catppuccin/catppuccin/main/assets/logos/exports/1544x1544_circle.png') center/cover no-repeat;
    background-size: cover !important;
}
.wrapper_d281dd[data-list-item-id="guildsnav___home"] .childWrapper__01b9c svg {
    display: none;
}

/* messing around with the textarea */
[class^="channelTextArea"] {
  bottom: -9px;
}
.scroller__1f96e {
  height: 103%;
}
[class^="typing"] {
  font-size: 10px;
  bottom: -3px;
}

/* hide obnoxious scroll bars */
/* removes scroll from channel */
.auto__76cc7 { scrollbar-width: none; }
/* removes scroll from channel sidebar */
.thin_b1c063 { scrollbar-width: none; }
/* removes scroll from profile */
.thin__62e51 { scrollbar-width: none; }

/* removing the scrollbar messes with emoji picker /shrug */
/* this puts it back */
.scrollableContainer__33e06 {
    padding: 0px 6px 0px 0px;
}

/* search bar */
.toolbar__88c63 {
  flex-direction: row;
  justify-content: flex-start;
}
.toolbar__88c63 .search__07df0 {
  order: 1; /* This moves the search element to the end */
}
.icon_f50f05 {
  color: #8aadf4;
}

/* colors bg of users in member list */
.member_aa4760 span.username_d272d6::after {
  content: "";
  background: currentColor;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.11;
  left: 0;
  top: 0;
}